In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("v4.100K.csv")

In [3]:
df.head()

,id,datetime,symbol,categ,val,ind0,ind1,ind2,ind3,ind4,...,ind241,ind242,ind243,ind244,ind245,ind246,ind247,ind248,ind249,ind250
0,1,2016-01-04 00:00:00,18,H4,0.53169,0.53309,0.53083,0.5313,3.9,22.6,...,0,0,0,0,0,0,0,0,0,0
1,2,2016-01-04 00:00:00,18,D1,0.53715,0.54172,0.53083,0.5313,58.5,8.9,...,0,0,0,0,0,0,0,0,0,0
2,3,2016-01-04 01:00:00,18,M1,0.53304,0.53309,0.53116,0.5313,17.4,19.3,...,0,0,0,0,0,0,0,0,0,0
3,4,2016-01-04 01:00:00,18,M5,0.53244,0.53309,0.53116,0.5313,11.4,19.3,...,0,0,0,0,0,0,0,0,0,0
4,5,2016-01-04 01:00:00,18,M15,0.53209,0.53309,0.53116,0.5313,7.9,19.3,...,0,0,0,0,0,0,0,0,0,0

In [4]:
cols = df.columns
print("number of columns is" , len(cols))
print("columns are : ",cols)

number of columns is 256
columns are :  Index(['id', 'datetime', 'symbol', 'categ', 'val', 'ind0', 'ind1', 'ind2',
       'ind3', 'ind4',
       ...
       'ind241', 'ind242', 'ind243', 'ind244', 'ind245', 'ind246', 'ind247',
       'ind248', 'ind249', 'ind250'],
      dtype='object', length=256)

In [5]:
df.describe()

,id,symbol,val,ind0,ind1,ind2,ind3,ind4,ind5,ind6,...,ind241,ind242,ind243,ind244,ind245,ind246,ind247,ind248,ind249,ind250
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05,...,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0,100000.0
mean,50000.500000,11.313100,0.620426,0.620555,0.620302,0.620431,-0.046832,2.516103,2.014800,1.455751e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,28867.657797,5.899901,0.109020,0.109040,0.109001,0.109022,2.900236,3.766126,0.890701,1.067665e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,1.000000,0.311760,0.311760,0.311760,0.311760,-97.800000,0.000000,1.000000,1.451866e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,25000.750000,7.000000,0.564600,0.564690,0.564480,0.564600,-0.700000,0.800000,1.000000,1.451927e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,50000.500000,12.000000,0.623390,0.623500,0.623210,0.623380,0.000000,1.500000,2.000000,1.451992e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,75000.250000,16.000000,0.672652,0.672840,0.672580,0.672680,0.700000,2.700000,3.000000,1.452064e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,100000.000000,22.000000,0.860520,0.860720,0.860300,0.860520,80.900000,99.300000,4.000000,1.486073e+09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df['symbol']

0        18
1        18
2        18
3        18
4        18
5        18
6        18
7        18
8        18
9        18
10       18
11       18
12       18
13       18
14       18
15       18
16       18
17       18
18       18
19       18
20       18
21       18
22       18
23       18
24       18
25       18
26       18
27       18
28       18
29       18
         ..
99970     9
99971     9
99972     9
99973     9
99974     9
99975     9
99976     9
99977     9
99978     9
99979     9
99980     9
99981     9
99982     9
99983     9
99984     9
99985     9
99986     9
99987     9
99988     9
99989     9
99990     9
99991     9
99992     9
99993     9
99994     9
99995     9
99996     9
99997     9
99998     9
99999     9
Name: symbol, dtype: int64